.side-bar
  .side-bar__header
    .top-items
      .top-items__name
        米津玄師
      .top-items__icons
        = link_to "#", class: "top-items__btn" do
          = icon('far', 'edit')
        = link_to "#", class: "top-items__btn" do
          = icon('fas', 'cog')
  .side-bar__main
    .group
      .group__name
        米民
      .group__message
        5th Album『STRAY SHEEP』08.05 
    .group
      .group__name
        米民
      .group__message
        5th Album『STRAY SHEEP』08.05